Repository bitnami/hex, pull requests merged in 2018-07, with the labels that each got.

#195 Improve accessibility of the main header
  packages/hex-docs/config.yml
  packages/hex-docs/templates/index.ejs
  packages/hex-js/src/base/events.js
  packages/hex-js/src/base/node.js
  packages/hex-js/src/components/header.js
  packages/hex/src/navigation/_header.scss
Labels: a11y, bug, components

#197 Update link style and color
  packages/hex-core/src/core/_anchors.scss
  packages/hex-core/src/core/_quotations.scss
  packages/hex-core/src/helpers/_typography.scss
  packages/hex-core/src/mixins/_typography.scss
  packages/hex-core/src/variables/_colors.scss
  packages/hex/src/feedback/_alerts.scss
  packages/hex/src/navigation/_footer.scss
  packages/hex/src/navigation/_header.scss
  packages/hex/src/navigation/_pagination.scss
  packages/hex/src/open-source/_footer.scss
  packages/hex/src/open-source/_header.scss
Labels: a11y, core

#201 Recover the outline for buttons
  packages/hex-core/src/core/_forms.scss
Labels: a11y, bug, core

#203 Improve vertical tabs component
  packages/hex-js/src/base/aria.js
  packages/hex-js/src/components/vertical-tabs.js
  packages/hex/src/lists/_resources.scss
  packages/hex/src/lists/_vertical-tabs.scss
Labels: a11y, bug, components

#199 Fix width and margins for input type:submit, button, reset.
  packages/hex-core/src/core/_forms.scss
Labels: components

#204 Implement the dropdown JS logic
  packages/hex-js/src/base/index.js
  packages/hex-js/src/base/node.js
  packages/hex-js/src/components/dropdown.js
  packages/hex-js/src/index.js
  packages/hex/src/forms/_addons.scss
  packages/hex/src/forms/_dropdown.scss
  packages/hex/src/forms/_search.scss
Labels: a11y, components, javascript

#205 Use underline property instead of box-shadow
  packages/hex-core/src/core/_anchors.scss
  packages/hex-core/src/core/_forms.scss
  packages/hex-core/src/core/_quotations.scss
  packages/hex-core/src/helpers/_anchors.scss
  packages/hex/src/lists/_resources.scss
  packages/hex/src/lists/_vertical-tabs.scss
  packages/hex/src/navigation/_footer.scss
  packages/hex/src/navigation/_header.scss
  packages/hex/src/navigation/_pagination.scss
  packages/hex/src/open-source/_footer.scss
  packages/hex/src/open-source/_header.scss
Labels: a11y, core

#206 Fix link styles for dark backgrounds and the header
  packages/hex-core/src/helpers/_typography.scss
  packages/hex-core/src/mixins/_typography.scss
  packages/hex/src/navigation/_header.scss
  packages/hex/src/navigation/_pagination.scss
Labels: a11y, bug

#207 Fix alerts link style
  packages/hex/src/feedback/_alerts.scss
Labels: a11y, bug
